services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.local
    volumes:
      - .:/workspace
    # command: "./scripts/local.sh"
    command: "./scripts/local.sh build"
    ports:
      - 1313:1313
