<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            padding: 10px;
            text-align: center;
            vertical-align: top;
        }
        img {
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <a href="https://amzn.eu/d/1XYIzi1">
                    <img src="/posts/img/economics.jpg" alt="Economics in One Lession">
                </a>
                <a href="https://amzn.eu/d/1XYIzi1">
                    <h3>Economics in One Lesson</h3>
                </a>
                <p>A classic guide to the basics of economic theory from the libertarianism view.</p>
            </td>
            <td>
                <a href="https://amzn.eu/d/86n4Yom">
                    <img src="/posts/img/bitcoin_standard.png" alt="Bitcoin Standard">
                </a>
                <a href="https://amzn.eu/d/86n4Yom">
                    <h3>The Bitcoin Standard</h3>
                </a>
                <p>A comprehensive and authoritative exploration of Bitcoin and its place in monetary history</p>
            </td>
        </tr>
    </table>
</body>
</html>
